body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.score {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

canvas {
    border: 2px solid #4a4a4a;
    background-color: #a9a9a9; /* Light gray background */
}

.game-over-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #4a4a4a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 10;
}

.game-over-popup p {
    margin: 0 0 10px;
    font-size: 24px;
    color: #333;
}

.game-over-popup button {
    background-color: #c34949;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

.game-over-popup button:hover {
    background-color: #333;
    transform: translateY(-2px);
}

.game-over-popup button:active {
    background-color: #222;
    transform: translateY(2px);
}


.controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    background-color: #4a4a4a;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #333;
    transform: translateY(-2px);
}

button:active {
    background-color: #222;
    transform: translateY(2px);
}

.restart {
    margin-top: 20px;
    background-color: #28a745;
    padding: 10px 20px;
    font-size: 18px;
}

.restart:hover {
    background-color: #218838;
}

.restart:active {
    background-color: #1e7e34;
}
